.img-div-one{
    background-image:linear-gradient(to right, rgba(19, 19, 24, 0.50), rgba(19, 19, 24, 0.50)), url(../Images/2.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    

}


.img-div-two{
    background-image:linear-gradient(to right, rgba(19, 19, 24, 0.50), rgba(19, 19, 24, 0.50)), url(../Images/3.png);

    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;

}

.img-div-three{
    background-image:linear-gradient(to right, rgba(19, 19, 24, 0.50), rgba(19, 19, 24, 0.50)), url(../Images/4.png);

    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;

}


